<h3><%= t('simple_form.labels.medication.secondary_effects') %></h3>
<ul>
  <% @facets.each do |term| %>   
    <li>
      <%= link_to term["term"],  :action => "elastic_search",  :q => params[:q],  :terms => term["add_facet"] %> (<%= term["count"] %>) 
      <strong>
        <%= link_to "X", :action => "elastic_search",  :q => params[:q], :terms => term["remove_facet"]  if term["selected"] %>
      </strong>
    </li>
  <% end %>               
</ul>