<h1>Elastic Search results medications</h1>

<%= render 'list' %>      
<%= render 'elastic_search_facets' %>
<br />
                  
<%= link_to 'New Medication', new_medication_path, :class=>"btn" %>
