<h2>Search for medications</h2>
                               
<%= form_tag ("/medications/elastic_search"), :method => 'get', :class => 'searchform' do %>
  <%= text_field_tag :q, params[:q], :class => "input-medium search-query" %>
	<%= submit_tag :search, :class => 'searchbutton', :value => "Go" %>
<% end %>
<br />
<div class="centered">
  <%= link_to 'or add a new medication', new_medication_path, :class=>"link" %>
<div>
